<h1>Add a recipe:</h1>
<form action="/recipes" method="POST">
	<h2>Name: <input type="text" name="name"></h2><br>
	<h2>ingredients: <input type="text" name="ingredients"></h2><br>
  <h2>Cook Time <input type="text" name="cook_time"></h2><br>
	<input type="submit" value="Sign Up">
</form>
